'name': 'Shakespeare Programming Language'
'scopeName': 'source.shakespeare'
'fileTypes': [
  'spl'
]
'patterns': [
  {
    'name': 'comment.line.shakespeare',
    'match': '''(?x)
      \\A([^\\.]+\\.)
    '''
  },
  {
    'match': '''(?x)
      \\b
      ((?i:(scene|act))
      (?=\\s[MCDXLVI])\\sM{0,4}(CM|CD|D?C{0,3})(XC|XL|L?X{0,3})(IX|IV|V?I{0,3}))
      :\\s([^\\.]+\\.)
    ''',
    'captures': {
      '1': {'name': 'entity.name.function.shakespeare'},
      '6': {'name': 'comment.line.shakespeare'}
    }
  },
  {
    'name': 'entity.name.function.shakespeare',
    'match': '''(?x)
      \\b
      ((?i:(scene|act))
      (?=\\s[MCDXLVI])\\sM{0,4}(CM|CD|D?C{0,3})(XC|XL|L?X{0,3})(IX|IV|V?I{0,3}))
      \\b
    '''
  }
  {
    'match': '''(?x)
      (?i:(Achilles|
      Adonis|
      Adriana|
      Aegeon|
      Aemilia|
      Agamemnon|
      Agrippa|
      Ajax|
      Alonso|
      Andromache|
      Angelo|
      Antiochus|
      Antonio|
      Arthur|
      Autolycus|
      Balthazar|
      Banquo|
      Beatrice|
      Benedick|
      Benvolio|
      Bianca|
      Brabantio|
      Brutus|
      Capulet|
      Cassandra|
      Cassius|
      Christopher\\ Sly|
      Cicero|
      Claudio|
      Claudius|
      Cleopatra|
      Cordelia|
      Cornelius|
      Cressida|
      Cymberline|
      Demetrius|
      Desdemona|
      Dionyza|
      Doctor\\ Caius|
      Dogberry|
      Don\\ John|
      Don\\ Pedro|
      Donalbain|
      Dorcas|
      Duncan|
      Egeus|
      Emilia|
      Escalus|
      Falstaff|
      Fenton|
      Ferdinand|
      Ford|
      Fortinbras|
      Francisca|
      Friar\\ John|
      Friar\\ Laurence|
      Gertrude|
      Goneril|
      Hamlet|
      Hecate|
      Hector|
      Helen|
      Helena|
      Hermia|
      Hermonie|
      Hippolyta|
      Horatio|
      Imogen|
      Isabella|
      John\\ of\\ Gaunt|
      John\\ of\\ Lancaster|
      Julia|
      Juliet|
      Julius\\ Caesar|
      King\\ Henry|
      King\\ John|
      King\\ Lear|
      King\\ Richard|
      Lady\\ Capulet|
      Lady\\ Macbeth|
      Lady\\ Macduff|
      Lady\\ Montague|
      Lennox|
      Leonato|
      Luciana|
      Lucio|
      Lychorida|
      Lysander|
      Macbeth|
      Macduff|
      Malcolm|
      Mariana|
      Mark\\ Antony|
      Mercutio|
      Miranda|
      Mistress\\ Ford|
      Mistress\\ Overdone|
      Mistress\\ Page|
      Montague|
      Mopsa|
      Oberon|
      Octavia|
      Octavius\\ Caesar|
      Olivia|
      Ophelia|
      Orlando|
      Orsino|
      Othello|
      Page|
      Pantino|
      Paris|
      Pericles|
      Pinch|
      Polonius|
      Pompeius|
      Portia|
      Priam|
      Prince\\ Henry|
      Prospero|
      Proteus|
      Publius|
      Puck|
      Queen\\ Elinor|
      Regan|
      Robin|
      Romeo|
      Rosalind|
      Sebastian|
      Shallow|
      Shylock|
      Slender|
      Solinus|
      Stephano|
      Thaisa|
      The\\ Abbot\\ of\\ Westminster|
      The\\ Apothecary|
      The\\ Archbishop\\ of\\ Canterbury|
      The\\ Duke\\ of\\ Milan|
      The\\ Duke\\ of\\ Venice|
      The\\ Ghost|
      Theseus|
      Thurio|
      Timon|
      Titania|
      Titus|
      Troilus|
      Tybalt|
      Ulysses|
      Valentine|
      Venus|
      Vincentio|
      Viola))
      \\,([^\\.]+\\.)
    ''',
    'captures': {
      '1': {'name': 'variable.other.shakespeare'},
      '2': {'name': 'comment.line.shakespeare'}
    }
  },
  {
    'name': 'constant.language.shakespeare',
    'match': '''(?x)
      \\b(?i:
        Hell|
      	Microsoft|
      	bastard|
      	beggar|
      	blister|
      	codpiece|
      	coward|
      	curse|
      	death|
      	devil|
      	draught|
      	famine|
      	flirt-gill|
      	goat|
      	hate|
      	hog|
      	hound|
      	leech|
      	lie|
      	pig|
      	plague|
      	starvation|
      	toad|
      	war|
      	wolf|
        animal|
      	aunt|
      	brother|
      	cat|
      	chihuahua|
      	cousin|
      	cow|
      	daughter|
      	door|
      	face|
      	father|
      	fellow|
      	granddaughter|
      	grandfather|
      	grandmother|
      	grandson|
      	hair|
      	hamster|
      	horse|
      	lamp|
      	lantern|
      	mistletoe|
      	moon|
      	morning|
      	mother|
      	nephew|
      	niece|
      	nose|
      	purse|
      	road|
      	roman|
      	sister|
      	sky|
      	son|
      	squirrel|
      	stone wall|
      	thing|
      	town|
      	tree|
      	uncle|
      	wind|
        Heaven|
      	King|
      	Lord|
      	angel|
      	flower|
      	happiness|
      	joy|
      	plum|
      	summer\\'s\\ day|
      	hero|
      	rose|
      	kingdom|
      	pony|
        nothing|
        zero
      )
      \\b
    '''
  },
  {
    'name': 'variable.other.shakespeare',
    'match': '''(?x)
      \\b(?i:
        Achilles|
        Adonis|
        Adriana|
        Aegeon|
        Aemilia|
        Agamemnon|
        Agrippa|
        Ajax|
        Alonso|
        Andromache|
        Angelo|
        Antiochus|
        Antonio|
        Arthur|
        Autolycus|
        Balthazar|
        Banquo|
        Beatrice|
        Benedick|
        Benvolio|
        Bianca|
        Brabantio|
        Brutus|
        Capulet|
        Cassandra|
        Cassius|
        Christopher\\ Sly|
        Cicero|
        Claudio|
        Claudius|
        Cleopatra|
        Cordelia|
        Cornelius|
        Cressida|
        Cymberline|
        Demetrius|
        Desdemona|
        Dionyza|
        Doctor\\ Caius|
        Dogberry|
        Don\\ John|
        Don\\ Pedro|
        Donalbain|
        Dorcas|
        Duncan|
        Egeus|
        Emilia|
        Escalus|
        Falstaff|
        Fenton|
        Ferdinand|
        Ford|
        Fortinbras|
        Francisca|
        Friar\\ John|
        Friar\\ Laurence|
        Gertrude|
        Goneril|
        Hamlet|
        Hecate|
        Hector|
        Helen|
        Helena|
        Hermia|
        Hermonie|
        Hippolyta|
        Horatio|
        Imogen|
        Isabella|
        John\\ of\\ Gaunt|
        John\\ of\\ Lancaster|
        Julia|
        Juliet|
        Julius\\ Caesar|
        King\\ Henry|
        King\\ John|
        King\\ Lear|
        King\\ Richard|
        Lady\\ Capulet|
        Lady\\ Macbeth|
        Lady\\ Macduff|
        Lady\\ Montague|
        Lennox|
        Leonato|
        Luciana|
        Lucio|
        Lychorida|
        Lysander|
        Macbeth|
        Macduff|
        Malcolm|
        Mariana|
        Mark\\ Antony|
        Mercutio|
        Miranda|
        Mistress\\ Ford|
        Mistress\\ Overdone|
        Mistress\\ Page|
        Montague|
        Mopsa|
        Oberon|
        Octavia|
        Octavius\\ Caesar|
        Olivia|
        Ophelia|
        Orlando|
        Orsino|
        Othello|
        Page|
        Pantino|
        Paris|
        Pericles|
        Pinch|
        Polonius|
        Pompeius|
        Portia|
        Priam|
        Prince\\ Henry|
        Prospero|
        Proteus|
        Publius|
        Puck|
        Queen\\ Elinor|
        Regan|
        Robin|
        Romeo|
        Rosalind|
        Sebastian|
        Shallow|
        Shylock|
        Slender|
        Solinus|
        Stephano|
        Thaisa|
        The\\ Abbot\\ of\\ Westminster|
        The\\ Apothecary|
        The\\ Archbishop\\ of\\ Canterbury|
        The\\ Duke\\ of\\ Milan|
        The\\ Duke\\ of\\ Venice|
        The\\ Ghost|
        Theseus|
        Thurio|
        Timon|
        Titania|
        Titus|
        Troilus|
        Tybalt|
        Ulysses|
        Valentine|
        Venus|
        Vincentio|
        Viola|
        I|
        me|
        myself|
        thee|
        thou|
        you|
        thyself|
        yourself
      )
      \\b
    '''
  },
  {
    'name': 'keyword.operator.shakespeare',
    'match': '''(?x)
      \\b(?i:
        art|
        am|
        are|
        be|
        is
      )
      \\b
    '''
  },
  {
    'name': 'constant.numeric.shakespeare',
    'match': '''(?x)
      \\b(?i:
        bad|
        cowardly|
        cursed|
        damned|
        dirty|
        disgusting|
        distasteful|
        dusty|
        evil|
        fat|
        fat-kidneyed|
        fatherless|
        foul|
        hairy|
        half-witted|
        horrible|
        horrid|
        infected|
        lying|
        miserable|
        misused|
        oozing|
        rotten|
        rotten|
        smelly|
        snotty|
        sorry|
        stinking|
        stuffed|
        stupid|
        vile|
        villainous|
        worried|
        big|
        black|
        blue|
        bluest|
        bottomless|
        furry|
        green|
        hard|
        huge|
        large|
        little|
        normal|
        old|
        purple|
        red|
        rural|
        small|
        tiny|
        white|
        yellow|
        amazing|
        beautiful|
        blossoming|
        bold|
        brave|
        charming|
        clearest|
        cunning|
        cute|
        delicious|
        embroidered|
        fair|
        fine|
        gentle|
        golden|
        good|
        handsome|
        happy|
        healthy|
        honest|
        lovely|
        loving|
        mighty|
        noble|
        peaceful|
        pretty|
        prompt|
        proud|
        reddest|
        rich|
        smooth|
        sunny|
        sweet|
        sweetest|
        trustworthy|
        warm
      )
      \\b
    '''
  },
  {
    'name': 'support.function.shakespeare',
    'match': '''(?x)
      \\b(?i:
        the\\ cube\\ of|
        the\\ factorial\\ of|
        the\\ square\\ of|
        the\\ square\\ root\\ of|
        twice|
        the\\ difference\\ between|
        the\\ product\\ of|
        the\\ quotient\\ between|
        the\\ remainder\\ of\\ the\\ quotient\\ between|
        the\\ sum\\ of
      )
      \\b
    '''
  },
  {
    'name': 'keyword.other.shakespeare',
    'match': '''(?x)
      \\b(?i:
        enter|
        exit|
        exeunt|
        and
      )
      \\b
    '''
  },
  {
    'name': 'support.function.shakespeare',
    'match': '''(?x)
      (?i:
        (speak|open|listen\\s+to|)\\s+
        (thine|thy|your)\\s+
        (heart|mind)
      )
    '''
  },
  {
    'name': 'keyword.control.shakespeare',
    'match': '''(?x)
      (?i:
        (we\\s+shall|
        we\\s+must|
        let\\s+us)\\s+
        (proceed\\s+to|
        return\\s+to)
      )
    '''
  }
]