'name': 'Shakespeare Programming Language'
'scopeName': 'source.shakespeare'
'fileTypes': [
  'spl'
]
'patterns': [
  {
    'name': 'comment.line.shakespeare',
    'match': '''(?xi)
      \\A([^\\.]+\\.)
    '''
  },
  {
    'match': '''(?xi)
      \\b
      ((scene|act)
      (?=\\s[MCDXLVI])\\sM{0,4}(CM|CD|D?C{0,3})(XC|XL|L?X{0,3})(IX|IV|V?I{0,3}))
      :\\s([^\\.]+\\.)
    ''',
    'captures': {
      '1': {'name': 'entity.name.function.shakespeare'},
      '6': {'name': 'comment.line.shakespeare'}
    }
  },
  {
    'name': 'entity.name.function.shakespeare',
    'match': '''(?xi)
      \\b
      ((scene|act)
      (?=\\s[MCDXLVI])\\sM{0,4}(CM|CD|D?C{0,3})(XC|XL|L?X{0,3})(IX|IV|V?I{0,3}))
      \\b
    '''
  },
  {
    'name': 'keyword.control.shakespeare',
    'match': '''(?xi)
      \\bIf\\s+(so|not)\\b
    '''
  },
  {
    'match': '''(?xi)
      (Achilles|
      Adonis|
      Adriana|
      Aegeon|
      Aemilia|
      Agamemnon|
      Agrippa|
      Ajax|
      Alonso|
      Andromache|
      Angelo|
      Antiochus|
      Antonio|
      Arthur|
      Autolycus|
      Balthazar|
      Banquo|
      Beatrice|
      Benedick|
      Benvolio|
      Bianca|
      Brabantio|
      Brutus|
      Capulet|
      Cassandra|
      Cassius|
      Christopher\\s+Sly|
      Cicero|
      Claudio|
      Claudius|
      Cleopatra|
      Cordelia|
      Cornelius|
      Cressida|
      Cymberline|
      Demetrius|
      Desdemona|
      Dionyza|
      Doctor\\s+Caius|
      Dogberry|
      Don\\s+John|
      Don\\s+Pedro|
      Donalbain|
      Dorcas|
      Duncan|
      Egeus|
      Emilia|
      Escalus|
      Falstaff|
      Fenton|
      Ferdinand|
      Ford|
      Fortinbras|
      Francisca|
      Friar\\s+John|
      Friar\\s+Laurence|
      Gertrude|
      Goneril|
      Hamlet|
      Hecate|
      Hector|
      Helen|
      Helena|
      Hermia|
      Hermonie|
      Hippolyta|
      Horatio|
      Imogen|
      Isabella|
      John\\s+of\\s+Gaunt|
      John\\s+of\\s+Lancaster|
      Julia|
      Juliet|
      Julius\\s+Caesar|
      King\\s+Henry|
      King\\s+John|
      King\\s+Lear|
      King\\s+Richard|
      Lady\\s+Capulet|
      Lady\\s+Macbeth|
      Lady\\s+Macduff|
      Lady\\s+Montague|
      Lennox|
      Leonato|
      Luciana|
      Lucio|
      Lychorida|
      Lysander|
      Macbeth|
      Macduff|
      Malcolm|
      Mariana|
      Mark\\s+Antony|
      Mercutio|
      Miranda|
      Mistress\\s+Ford|
      Mistress\\s+Overdone|
      Mistress\\s+Page|
      Montague|
      Mopsa|
      Oberon|
      Octavia|
      Octavius\\s+Caesar|
      Olivia|
      Ophelia|
      Orlando|
      Orsino|
      Othello|
      Page|
      Pantino|
      Paris|
      Pericles|
      Pinch|
      Polonius|
      Pompeius|
      Portia|
      Priam|
      Prince\\s+Henry|
      Prospero|
      Proteus|
      Publius|
      Puck|
      Queen\\s+Elinor|
      Regan|
      Robin|
      Romeo|
      Rosalind|
      Sebastian|
      Shallow|
      Shylock|
      Slender|
      Solinus|
      Stephano|
      Thaisa|
      The\\s+Abbot\\s+of\\s+Westminster|
      The\\s+Apothecary|
      The\\s+Archbishop\\s+of\\s+Canterbury|
      The\\s+Duke\\s+of\\s+Milan|
      The\\s+Duke\\s+of\\s+Venice|
      The\\s+Ghost|
      Theseus|
      Thurio|
      Timon|
      Titania|
      Titus|
      Troilus|
      Tybalt|
      Ulysses|
      Valentine|
      Venus|
      Vincentio|
      Viola)
      \\,([^\\.]+\\.)
    ''',
    'captures': {
      '1': {'name': 'variable.other.shakespeare'},
      '2': {'name': 'comment.line.shakespeare'}
    }
  },
  {
    'name': 'constant.language.shakespeare',
    'match': '''(?xi)
      \\b
      (
        Hell|
        Microsoft|
        bastard|
        beggar|
        blister|
        codpiece|
        coward|
        curse|
        death|
        devil|
        draught|
        famine|
        flirt-gill|
        goat|
        hate|
        hog|
        hound|
        leech|
        lie|
        pig|
        plague|
        starvation|
        toad|
        war|
        wolf|
        animal|
        aunt|
        brother|
        cat|
        chihuahua|
        cousin|
        cow|
        daughter|
        door|
        face|
        father|
        fellow|
        granddaughter|
        grandfather|
        grandmother|
        grandson|
        hair|
        hamster|
        horse|
        lamp|
        lantern|
        mistletoe|
        moon|
        morning|
        mother|
        nephew|
        niece|
        nose|
        purse|
        road|
        roman|
        sister|
        sky|
        son|
        squirrel|
        stone\\s+wall|
        thing|
        town|
        tree|
        uncle|
        wind|
        Heaven|
        King|
        Lord|
        angel|
        flower|
        happiness|
        joy|
        plum|
        summer\\'s\\s+day|
        hero|
        rose|
        kingdom|
        pony|
        nothing|
        zero
      )
      \\b
    '''
  },
  {
    'name': 'variable.other.shakespeare',
    'match': '''(?xi)
      \\b
      (
        Achilles|
        Adonis|
        Adriana|
        Aegeon|
        Aemilia|
        Agamemnon|
        Agrippa|
        Ajax|
        Alonso|
        Andromache|
        Angelo|
        Antiochus|
        Antonio|
        Arthur|
        Autolycus|
        Balthazar|
        Banquo|
        Beatrice|
        Benedick|
        Benvolio|
        Bianca|
        Brabantio|
        Brutus|
        Capulet|
        Cassandra|
        Cassius|
        Christopher\\s+Sly|
        Cicero|
        Claudio|
        Claudius|
        Cleopatra|
        Cordelia|
        Cornelius|
        Cressida|
        Cymberline|
        Demetrius|
        Desdemona|
        Dionyza|
        Doctor\\s+Caius|
        Dogberry|
        Don\\s+John|
        Don\\s+Pedro|
        Donalbain|
        Dorcas|
        Duncan|
        Egeus|
        Emilia|
        Escalus|
        Falstaff|
        Fenton|
        Ferdinand|
        Ford|
        Fortinbras|
        Francisca|
        Friar\\s+John|
        Friar\\s+Laurence|
        Gertrude|
        Goneril|
        Hamlet|
        Hecate|
        Hector|
        Helen|
        Helena|
        Hermia|
        Hermonie|
        Hippolyta|
        Horatio|
        Imogen|
        Isabella|
        John\\s+of\\s+Gaunt|
        John\\s+of\\s+Lancaster|
        Julia|
        Juliet|
        Julius\\s+Caesar|
        King\\s+Henry|
        King\\s+John|
        King\\s+Lear|
        King\\s+Richard|
        Lady\\s+Capulet|
        Lady\\s+Macbeth|
        Lady\\s+Macduff|
        Lady\\s+Montague|
        Lennox|
        Leonato|
        Luciana|
        Lucio|
        Lychorida|
        Lysander|
        Macbeth|
        Macduff|
        Malcolm|
        Mariana|
        Mark\\s+Antony|
        Mercutio|
        Miranda|
        Mistress\\s+Ford|
        Mistress\\s+Overdone|
        Mistress\\s+Page|
        Montague|
        Mopsa|
        Oberon|
        Octavia|
        Octavius\\s+Caesar|
        Olivia|
        Ophelia|
        Orlando|
        Orsino|
        Othello|
        Page|
        Pantino|
        Paris|
        Pericles|
        Pinch|
        Polonius|
        Pompeius|
        Portia|
        Priam|
        Prince\\s+Henry|
        Prospero|
        Proteus|
        Publius|
        Puck|
        Queen\\s+Elinor|
        Regan|
        Robin|
        Romeo|
        Rosalind|
        Sebastian|
        Shallow|
        Shylock|
        Slender|
        Solinus|
        Stephano|
        Thaisa|
        The\\s+Abbot\\s+of\\s+Westminster|
        The\\s+Apothecary|
        The\\s+Archbishop\\s+of\\s+Canterbury|
        The\\s+Duke\\s+of\\s+Milan|
        The\\s+Duke\\s+of\\s+Venice|
        The\\s+Ghost|
        Theseus|
        Thurio|
        Timon|
        Titania|
        Titus|
        Troilus|
        Tybalt|
        Ulysses|
        Valentine|
        Venus|
        Vincentio|
        Viola|
        I|
        me|
        myself|
        thee|
        thou|
        you|
        thyself|
        yourself
      )
      \\b
    '''
  },
  {
    'name': 'keyword.operator.shakespeare',
    'match': '''(?xi)
      \\b
      (
        art|
        am|
        are|
        be|
        is
      )
      \\b
    '''
  },
  {
    'name': 'constant.numeric.shakespeare',
    'match': '''(?xi)
      \\b
      (
        bad|
        cowardly|
        cursed|
        damned|
        dirty|
        disgusting|
        distasteful|
        dusty|
        evil|
        fat|
        fat-kidneyed|
        fatherless|
        foul|
        hairy|
        half-witted|
        horrible|
        horrid|
        infected|
        lying|
        miserable|
        misused|
        oozing|
        rotten|
        rotten|
        smelly|
        snotty|
        sorry|
        stinking|
        stuffed|
        stupid|
        vile|
        villainous|
        worried|
        big|
        black|
        blue|
        bluest|
        bottomless|
        furry|
        green|
        hard|
        huge|
        large|
        little|
        normal|
        old|
        purple|
        red|
        rural|
        small|
        tiny|
        white|
        yellow|
        amazing|
        beautiful|
        blossoming|
        bold|
        brave|
        charming|
        clearest|
        cunning|
        cute|
        delicious|
        embroidered|
        fair|
        fine|
        gentle|
        golden|
        good|
        handsome|
        happy|
        healthy|
        honest|
        lovely|
        loving|
        mighty|
        noble|
        peaceful|
        pretty|
        prompt|
        proud|
        reddest|
        rich|
        smooth|
        sunny|
        sweet|
        sweetest|
        trustworthy|
        warm
      )
      \\b
    '''
  },
  {
    'name': 'support.function.shakespeare',
    'match': '''(?xi)
      \\b
      (
        the\\s+cube\\s+of|
        the\\s+factorial\\s+of|
        the\\s+square\\s+of|
        the\\s+square\\s+root\\s+of|
        twice|
        the\\s+difference\\s+between|
        the\\s+product\\s+of|
        the\\s+quotient\\s+between|
        the\\s+remainder\\s+of\\s+the\\s+quotient\\s+between|
        the\\s+sum\\s+of
      )
      \\b
    '''
  },
  {
    'name': 'keyword.other.shakespeare',
    'match': '''(?xi)
      \\b
      (
        enter|
        exit|
        exeunt|
        and
      )
      \\b
    '''
  },
  {
    'name': 'support.function.shakespeare',
    'match': '''(?xi)
      (speak|open|listen\\s+to)\\s+
      (thine|thy|your)\\s+
      (heart|mind)
    '''
  },
  {
    'name': 'support.function.shakespeare',
    'match': '''(?xi)
      (speak|open|listen\\s+to)\\s+
      (thine|thy|your)\\s+
      (heart|mind)
    '''
  },
  {
    'name': 'support.function.shakespeare',
    'match': '''(?xi)
      remember
    '''
  },
  {
    'match': '''(?xi)
      (recall)\\s+
      ([^!\\.]*[!\\.])
    ''',
    'captures': {
      '1': {'name': 'support.function.shakespeare'},
      '2': {'name': 'comment.line.shakespeare'}
    }
  },
  {
    'name': 'keyword.control.shakespeare',
    'match': '''(?xi)
      (we\\s+shall|
      we\\s+must|
      let\\s+us)\\s+
      (proceed\\s+to|
      return\\s+to)
    '''
  }
]
